* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgb(16, 16, 16);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(244, 239, 239);
}

.header {
    display: flex;
    margin: 10px;
    padding: 25px;
    width: 95%;
    font-weight: bolder;
    font-size: larger;
    justify-content: space-between;
    background-color: rgb(29, 28, 28) ;

}


.subheader {
    display: flex;
    position: absolute;
    left: 350px;
    width: 70%;
    justify-content: space-around;
    list-style: none;
}
.subheader li:hover{
    color: rgb(202, 197, 217);
}

.dot{
    display: flex;
    flex-direction: column;
  
   
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.dot span{
    z-index: -1;
}
.dot span{
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: red;
    
}

.content {
    width: 92%;
    height: auto;
    margin: 10px;
    display: flex;
    padding: 25px;


}

.heading {
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
}

.subcontent {
    height: 400px;
    width: 95%;
    margin: 5px;
}

.about_column {
    height: auto;
    margin: 30px;
    width: 90vw;
    color: rgb(141, 224, 161);
    display: flex;
}

 .skills{
    display:flex;
   flex-direction: column;
   margin: 10px;
 }
 
 .experience {
display: flex;
flex-direction: column;
margin: 10px;
}


.education{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.footer{
    text-align: center;
}
button{
    padding: 8px;
    position: relative;
    left: 40px;
    margin: 10px;
    top: -10px;
    background-color: rgb(16, 16, 16) ;
    color: white;
   
}
a{
    text-decoration: none;
    font-weight: bolder; 
    color: aliceblue;
}

.pro{
    margin-left: 30px;
    width: 95vw;

}
.pro h3{
    color:red;
    font-weight: bold;
}
.inner_pro{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);

}

.project{
    color: white;
    border: 2px solid rgb(29, 28, 28)  ;
    margin: 10px;
    border-radius: 50px;
}
h4{
    margin-left: 20px;
    margin-top: 20px;
}
.project img{
    transition: 1s;
    position: relative;
    display: block;
    width: 300px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.project img:hover{
    transform: scale(0.9);
}

.subcontent img{
    width:auto; height:400px; position: relative; left: 250px;
}



@media (min-width:200px) and (max-width:420px) {
    
    .header{
        margin: 10px;
       
    }
    .subheader{
        left: 30px; 
    }
    .content{
        flex-direction: column;
        margin: 0;
        
    }
    .img_con{
        position: relative;
        left: -270px;
        top: 30px;
    }
    .about_column{
        flex-direction: column;
        width: 80vw;
    }
.dot{
    position: relative;
    right: 80px;
    border: 2px solid white;
    border-radius: 10%;
}
.dot span{
    z-index: 2;
}
 .subheader{
    z-index: 1;
    left: -8px;
    top:-10px ;
    background-color:red;
    height: 100vh;
    width: 140px;
    transition: 1s linear;
    display: none;
 }

 .subheader li{
    margin-top: 50px;
 }
 .dot:hover span{
    background-color: green;
 }
 .dot:hover .subheader{
    background-color: red;
    color: black;
    display: block;
    transform: translateX(-10px);
 }
 .inner_pro{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
 }
 h4{
    margin-top: 1px;
 }
 .project img{
    width: 250px ;
    height: 300px;
 }
 
}
