*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainContainer{
    background: linear-gradient(to right,#151314,#333032,#424042,#494949,#151314);
    box-shadow: inset 0 0 1px #666464;
   
}
#first{
    width: 15vw;
    background-color: transparent;
    animation: slideleft 1s ease .1s 1  ;
}

#subContainer{
    width: 50vw;
    background-color: transparent;
    animation: slideright 1.5s ease .1s 1  ;
    
}
#subContainer span:hover{
    color: #0ef;
}

#text{
    animation: slideleft 1s ease .1s 1  ;
}


.content p{
    margin-top: 15px;
}

#div{
    width: 30vw;
    
}
#Photo img{
    margin: auto auto;
    text-align: center;
    box-shadow: 0 0 25px cyan,0 0 40px cyan;
}

.icon box-icon{
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border:2px solid cyan;
    background-color: rgb(20, 174, 185);
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px cyan,0 0 10px cyan;
    animation: slideright 1s ease .1s 1  ;
}

.icon box-icon:hover{
box-shadow: 0 0 5px cyan,0 0 10px cyan,0 0 30px cyan;

}

#buttons button{
    border-radius: 5px;
    background-color: #0ef;
    color: black;
    font-weight: 700;
    padding: 5px;
    box-shadow: 0 0 5px cyan,0 0 10px cyan;
    
}

#buttons button:hover{
    box-shadow: 0 0 5px cyan,0 0 10px cyan,0 0 30px cyan;
    
    }
#soft{
    animation: slideright 1s ease .1s 1  ;
}
#technical{
    animation: slideleft 1s ease .1s 1  ;
}

.aboutfirst{
    animation: slideleft 1s ease .1s 1  ;
}
.aboutsecond{
    animation: slidedown 1s ease .1s 1  ;
}
.aboutthird{
    animation: slideright 1s ease .1s 1  ;
}
@keyframes slideleft {
    0%{
        transform: translateX(-250px);
        
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideright {
    0%{
        transform: translateX(250px);
        
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideup {
    0%{
        transform: translateY(-250px);
        
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slidedown {
    0%{
        transform: translateY(250px);
        
    }
    100%{
        transform: translateY(0px);
    }
}









@media(min-width:300px) and (max-width:720px) {
    
    #first{
        width: 55vw;
        
    }
    #subcontainer{
            margin-top: 20px;
             
    }
    #subContainer{
        top: 0px;
        transition: 2s;
        left: 50vw;
        z-index: 10;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: start;
        height: 100vh;
        width: 50vw;
        background-color: #a3c2c2;
        animation: none;
    }

#subContainer span{
    margin-top: 20px;
}
#subContainer span:hover{
    color: rgb(22, 21, 21);
}


    .menu{
        display: flex;
        position: absolute;
        left: 75vw;
    
    }
    
    .xbut{
        top: 0px;
        left: 20px;
        position:absolute;
    }

   

    #buttons button{
        font-weight: 500;
       
        
    }
}


